.board {
  padding: 10px;
  margin-bottom: 24px;
  display: grid;
  grid-gap: 4px;
  justify-content: center;
  overflow-x: auto;
  --width: clamp(
    24px,
    calc((100vw - 20px - ((var(--length) - 1) * 4px)) / var(--length)),
    40px
  );
  grid-template: repeat(var(--length), var(--width)) / repeat(
      var(--length),
      var(--width)
    );
}

.easy {
  --length: 9;
}

.medium {
  --length: 16;
}

.hard {
  --length: 24;
}
